*{
    margin: 0;
    padding: 0;
}

body{
    height: 844px;
    width: 390px;
}

header{
    background-color: navy;
    text-align: center;
}

h1{
    color: white;
}

.imgDavi{
    width: 180px;
    height: 240px;
    margin-left: 10px;
    border-radius: 10px;
}

.imgLuiza{
     width: 180px;
    height: 240px;
    margin-left: 10px;
    border-radius: 10px;
}

header nav{
    text-align: center;
}

header nav a{
    font-size: 20px;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    color: navy;
    padding: 6px 8px;
    border-radius: 6px;
}

main span{
    font-size: 18px;
    margin-left: 19px;
    color: navy;
}

h2{
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}