*{
    margin: 0;
    padding: 0;
}

body{
    height: 844px;
    width: 390px;
}

header{
    background-color: #C9BFA4;
    text-align: center;
}

header h1{
    color: #28292B;
}

header nav a{
    text-decoration: none;
    background-color: #28292B;
    color: #C9BFA4;
    margin-right: 15px;
    border-radius: 6px;
    font-size: 20px;
    padding: 6px 8px;
}

main img{
    width: 320px;
    height: 200px;
}

main{
    background-color: #28292B;
    text-align: center;
    color: #C9BFA4;
}

main p{
    margin-left: 15px;
    margin-right: 15px;
}

li{
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
}

footer{
    text-align: center;
    background-color: #C9BFA4;
}